/*
.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.volume-container {
  //all Elements on One Line
}

.stat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hide {
  display: none;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

 */

.canvas-container {
  width: 100%; /* Ensure the container takes up the full width of its parent */
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Hide vertical scrollbar (optional, adjust as needed) */
  white-space: nowrap; /* Prevent line breaks inside the container */


}


*::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

