.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.stat-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
