.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.volume-container {
  //all Elements on One Line
  display: flex;
  flex-direction: row; /* Ensures children are displayed in a row */
  align-items: center; /* Align items vertically centered */
}

.stat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hide {
  display: none;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
