body {
  background: black;

}

body::-webkit-scrollbar {
  width: 0;
  background: transparent; /* Make scrollbar transparent */
}

.main-container {
  height: 100vh;

}

.body::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}
